.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modalContent {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 95%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  max-height: 95vh;
  min-height: 90vh;
  overflow-y: scroll;
}
.comsContent {
  width: 55%;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.307);
  padding: 10px;
  border-radius: 5px;
  display: none;
}
.form {
  margin-top: 20px;
  width: 55%;
  margin: 0 auto;
  display: none;
}

.profil {
  background-image: url("../images/User-PNG-Photos.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 5%;
  height: 50px;
}

.contents {
  width: 90%;
  margin-left: 10px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.137);
  border-radius: 5px;
}
.fileuploadLabel {
  font-size: 12px;
}

.smallScreen {
  display: none;
}

.left {
  width: 100%;
}
.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  float: right;
}

.openModalButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.openModalButton:hover {
  background-color: #0056b3;
}

.titre {
  font-weight: bold;
  color: var(--color-secondary);
}

.titreProjet {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-right: 10px;
}

.coms {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lien {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--color-secondary);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  word-wrap: break-word;
  overflow: hidden;
}

.options {
  width: 40px;
  display: flex;
  align-items: center;
}

.designation {
  width: 400px;
  margin-left: 10px;
}

.status {
  width: 175px;
  margin-left: 10px;
}

.limite {
  width: 175px;
  margin-left: 10px;
}

.par {
  width: 400px;
  margin-left: 10px;
}

.responsable {
  width: 400px;
  margin-left: 10px;
}

.responsables {
  width: 400px;
  margin-left: 10px;
  text-overflow: ellipsis;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .modalContent {
    font-size: 12px;
  }
  .form,
  .comsContent {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .modalContent {
    font-size: 12px;
  }
  .fullScreen {
    display: none;
    border: 5px black solid;
  }
  .smallScreen {
    display: flex;
    justify-content: end;
  }
  .fileuploadLabel {
    font-size: 8px;
    display: flex;
    align-items: center;
  }
  .contents {
    width: 70%;
  }
  .profil {
    width: 20%;
  }
  .form,
  .comsContent {
    width: 95%;
  }
}
