.mains {
  width: 90%;
  margin: 0 auto;
  background-color: white;
}

.title {
  font-family: "righteous";
  font-size: 2em;
  color: rgba(0, 0, 0, 0.747);
}

.titles {
  font-family: "righteous";
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.747);
}

.description {
  font-size: 0.8em;
}

.logos {
  width: 100px;
  height: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/google-tasks-venez-a-bout-de-toutes-vos-taches-er4IE9-removebg-preview.png");
}

.ulNavBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  color: rgba(0, 0, 0, 0.836);
  font-weight: bold;
}

.iconeResponsive{
  width: 1vw;
  height: 2vh;
  cursor: pointer;

}


.faSignOutAlt {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.747);
}

.settings {
  position: absolute;
  top: 20px;
  right: 80px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.747);
}

.creates {
  position: absolute;
  top: 20px;
  right: 140px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.747);
}

@media screen and (max-width: 768px) {
  .description {
    display: none;
  }
  .title {
    font-size: 1em;
  }
  .titles {
    display: none;
  }
  .ulNavBar,
  .Page {
    font-size: 12px;
  }
  .iconeResponsive{
    width: 5vw;
  
  }
}

