.showModal {
  position: fixed;
  top: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  background: rgba(43, 38, 38, 0.53);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.showModalTask {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: rgba(43, 38, 38, 0.53);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.formModal {
  width: 370px;
  background: rgb(255, 255, 255);
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 12;
}

.formModalCreatePost {
  width: 60%;
  background: var(--color-background-main);
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 12;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.valider {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.SUPPR:hover {
  cursor: pointer;
}

.SUPPR {
  background-color: var(--color-text-danger);
  padding: 7px 15px 7px 15px;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.7s ease-in-out;
}

.OUI:hover {
  cursor: pointer;
}

.OUI {
  background-color: var(--color-secondary);
  padding: 7px 15px 7px 15px;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.7s ease-in-out;
}

.NON {
  background-color: var(--color-third);
  padding: 7px 15px 7px 15px;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.7s ease-in-out;
}

.NON:hover {
  cursor: pointer;
}

.TitreCreateTask {
  font-weight: bold;
  font-size: 26px;
}
.profil {
  width: 5%;
  height: 50px;
}

.icone,
.close {
  width: 10%;
}
.titreTask {
  width: 80%;
}

.add {
  color: rgba(0, 0, 0, 0.747);
  width: 50px;
  height: 40px;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  max-height: 250px;
  overflow-y: auto;
}

.label {
  width: 40vw;
  display: flex;
  align-items: center;
}

.Inputs {
  width: 60vw;
  display: flex;
  flex-direction: row;
}

.isDropdownOpen {
  background-color: red;
}

.modalInput {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 18;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}

.headCreateTask {
  display: flex;
}

.editors {
  width: 50%;
}

.tab {
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
}

.tab.active {
  border-bottom: 3px solid var(--color-third);
}

.tab:hover {
  border-bottom: 3px solid var(--color-third);
}

.taskContentList {
  max-height: 350px;
}

.tox .tox-statusbar__wordcount {
  display: none;
}

.tox .tox-statusbar__path-item,
.tox:not([dir="rtl"]) .tox-statusbar__path > * {
  visibility: hidden;
}

.tailleInputcreateTask {
  width: 50%;
}
.addElement{
  width: 50%;
}

@media screen and (max-width: 768px) {
  .formModalCreatePost {
    width: 350px;
  }
  .addElement{
    width: 100%;
  }
  .profil {
    width: 20%;
  }
  .editors {
    width: 100%;
  }

  .TitreCreateTask {
    font-size: 21px;
  }
  .tox
    .tox-statusbar__text-container.tox-statusbar__text-container-3-cols
    > .tox-statusbar__help-text {
    display: none;
  }
  .tailleInputcreateTask {
    width: 95%;
  }
}

@media screen and (max-width: 650px) {
  .formModalCreatePost {
    width: 300px;
  }
  .faSquarePlus {
    display: none;
  }
  .profil {
    width: 20%;
    height: 55px;
  }
}

@media screen and (max-width: 500px) {
  .formModal {
    width: 300px;
  }

  .label {
    font-size: 12px;
  }
  .addInputField {
    font-size: 12px;
    background-color: blue;
  }
  .input {
    font-size: 12px;
  }
  .faTrashIcon {
    width: 10px;
  }
}
